body {
  background: #F5DEB3;
}


h1 {
  text-align: center;
  color: #D2691E;
}

a {
  color: #D2691E; 
}

p {
  text-align: center;
  font-size: 30px;
}

strong {
  color: #D2691E;
}
